<div class="card">
  <div class="card-body">
    <h2 class="card-title">Name: {{name}}</h2>
    <p class="card-text">Weight: {{capital}}</p>
    <p class="card-text">Height: {{population}}</p>
    <p class="card-text"><b>Languages:</b></p>
    
    <ul class="list-group">
    {{#each languages}}
      <li class="list-group-itemm">{{language.name}}</li>
    {{/each}}
    </ul>
  </div>
   <div class="card-img-top">
    <img src="{{image}}" alt="{{name}}">
  </div>
</div>